= render layout: "#{path}/wrapper_for_input", locals: { options: options } do
  input.form-control type="number" name="#{options[:tag_name]}" ng-model="#{options[:ng_model]}" placeholder="#{options[:placeholder] ||= ""}"
