= render layout: "#{path}/form/wrapper/with_label", locals: { options: options } do
  input.form-control type="datetime-local" name="#{options[:tag_name]}" ng-model="#{options[:ng_model]}" placeholder="#{options[:placeholder] ||= ""}"
