= render layout: "#{path}/form/wrapper/with_label", locals: { options: options } do
  div.uzfields-td-image style="background-image: url('-[ #{options[:ng_model]}.thumb.url ]-');" ng-show="#{options[:ng_model]}.thumb.url"
  input id="#{options[:tag_id]}" type="file" name="#{options[:tag_name]}" file-model="#{options[:ng_model]}" ng-model="#{options[:ng_model]}"
