= render :layout => "fields/wrapper_for_input", :locals => { :f => f, :field_name => field_name, :options => options } do
  = f.datetime_select field_name
  / .input-group.datetimepicker{"data-date-format" => "MM/DD/YYYY h:mm a"}
  /   %span.input-group-addon
  /     %span.glyphicon.glyphicon-calendar
  / = f.text_field field_name, :format => "%m/%d/%Y%l:%M %p" ,:class => 'form-control datetimepicker', "data-date-format" => "MM/DD/YYYY h:mm a"  
  / - value = f.object.send(field_name)
  / - value = value.strftime("%m/%d/%Y %l:%M %p") if value
  / = f.text_field field_name, value: value, :class => 'form-control datetimepicker'
