= ng_input :string_field, :string
= ng_input :mask_field, :mask
= ng_input :permalink_field, :permalink
= ng_input :email_field, :email
= ng_input :pdf_field, :pdf
= ng_input :file_field, :file
= ng_input :image_field, :image
= ng_input :password_field, :password
= ng_input :select_field, :select
= ng_input :radio_field, :radio
= ng_input :checkbox_field, :checkbox
= ng_input :date_field, :date
= ng_input :time_field, :time
= ng_input :timestamp_field, :timestamp
= ng_input :datetime_field, :datetime
= ng_input :currency_field, :currency
= ng_input :float_field, :float
= ng_input :decimal_field, :decimal
= ng_input :integer_field, :integer
= ng_input :text_field, :text
= ng_input :wysi_field, :wysi
