<!DOCTYPE html>
<html>
<head>
  <title>Uzfields</title>
  <%= stylesheet_link_tag    "uzfields/application", :media => "all" %>
  <%= javascript_include_tag "uzfields/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
